*{
  background-color: white;
  color: black;
}


.container___white-small-card{

  width: 400px;
  margin-left: 30px;

  margin-top: 20px;


}

.container__white-small-card__content{

  display: flex;
  flex-direction: column;
  margin-top: 50px;

}
.white-small-card___photoCover {
  display: flex;


}
.white-small-card___photoCover > img{
  width: 300px;
  min-width: 300px;
  height: 200px;
  min-width: 200px  ;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  align-items: center;
}
.white-small-card___title{
  margin-left: 20px;
  margin-right: 20px;
}

.white-small-card__description > p {
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 50px;
}


