<div class="container___social">
  <ul>
    <li><a href="https://www.linkedin.com/in/kduferreira/" target="_blank"><img src="../../../../../assets/linkedin-icon.png" alt="" width="20px" height="20px"></a></li>
    
    <li><a href="https://github.com/kduferreira" target="_blank"><img src="../../../../../assets/github-icon.png" alt="" width="20px" height="20px"></a></li>

    <li><a href="https://www.instagram.com/caduu_ferreiraa/" target="_blank"><img src="../../../../../assets/instagram-icon.png" alt="" width="20px" height="20px"></a></li>

  </ul>
</div>

